/*-------------GOOGLE FONT----------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");


 /*   COLORES: */
:root{
    --first-color: hsl(354, 78%, 60%);
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 21%);
    --card-color: hsl(0, 0%, 90%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-white: hsl(0, 0%, 90%);
    --text-color-light: hsl(0, 0%, 55%);
    --body-color: hsl(206, 4%, 97%);
    --container-color: #fff;
    --border-color: hsl(0, 0%, 94%);
    /* Font size*/
    --font-1 : 1rem ;
    --font-2 : 0.8rem;
}

/* Scroll Suave */
html {
    scroll-behavior: smooth;
  }
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:var(--first-color); 
  }

/*  COLORES DARK MODE: */
 body.dark-theme{
    --first-color: hsl(182, 53%, 74%);
    --button-color: hsl(246, 16%, 12%);
    --button-color-alt: hsl(0, 0%, 28%);
    --card-color: hsla(246, 16%, 5%, .5);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --text-color-white: hsl(0, 0%, 30%);
    --body-color: hsl(249, 19%, 14%);
    --container-color: hsl(246, 16%, 12%);
    --border-color: hsl(0, 0%, 20%);
} 

body {
    margin: 0;
    background-color: var(--body-color);
    color: var(--text-color);
    /* Efecto cambio clor */
    transition: 2s;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* marca de diseño*/
.ver{
    width: -webkit-fill-available;;
    height: 100px;
    background-color: aquamarine;
    border: solid black;
}

/* CONSTANTES */
.txc{
    text-align: center;
}

a:link {
    text-decoration: none;
    color: var(--text-color-white)
  }
  
  a:visited {
    text-decoration: none;
    color: var(--text-color-white)
  }
/* CONTANTES END */


body{
    font-family: 'Roboto', sans-serif;;
}

ul{
    list-style: none;
}

/* NAV */
header{
    background-color: var(--first-color);
    position: relative;
    margin-bottom: 30px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.25rem;
    height: 60px;
    margin-bottom: 1.5rem;
    color: var(--text-color-white);
}
nav > div > img{
    width: 45px;
}

input#menu-hamburguesa {
    visibility: hidden;
} 

input#menu-hamburguesa ~ ul{
    background-color: var(--first-color);
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    height: calc( 100vh - 60px );
    top: 60px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
    display: none;
    z-index: 100;
}


input#menu-hamburguesa:checked ~ ul{
    display: flex;
} 

/* Luna - Bolso */
.moon-bag {
    position: absolute;
    right: 58px;
    display: flex;
    gap: 20px;
    /* Visible para click */
    z-index: 200;
}

.num-item{ 
    position: absolute;
    width: 16px;
    height: 16px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 18px 0 0 18px;
    font-size: .7rem;
}   

/*  NAV END */

/* CART FLOAT */
.cart{
    position: fixed;
    background-color: var(--container-color);
    z-index: 102;
    width: 100%;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 3rem 2.5rem;
    transition: .8s;
}    

.cart-show{
    right: 0%;
}

.cart-product{
    display: grid;
    row-gap: 1.5rem;
    max-height: 65vh;
    overflow-y: scroll;
}

.cart-product > div > img{
    width: 100%;
    contain: content;
}

/* cart product */
.cart-art{
    display: flex;
}

.cart-img{
    width: 100px;
}

.cart-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cart-unit{
    display: flex;
    gap: 80px;
    padding: 18px;
}

.btn-cant{
    /* padding: 5px; */
    border-radius: 5px;
    background-color: var(--card-color);
    margin: 0px 5px;
    width: 30px;
    height: 30px;
}
.btn-del{
    color: red;
}

/* Boton pago*/
.checkout{
    display: flex;
    justify-content: end;
}

.btn-checkout{
    /* display: inline-block; */
    background-color: var(--button-color-alt);
    color: #FFF;
    padding: 1.25rem 2rem;
    font-weight: var(--font-1);
    transition: .5s;
    border-radius: 10px;
}

.cart-total{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

/* CART FLOAT END */

/*  HOME CONTENT */
.home-content{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  gap: 50px;

}
.home-title{
    color: var(--title-color);
    font-size: 2rem;
    padding: 20px;
}
.home-info{
    font-size: 1.2rem;
    padding: 0 0 20px 20px;
}

.home-description{
    width: 80%;
    padding: 20px
}

.home-price{
    font-size: 1.5rem;
    color: red;
    margin: 0 0 20px 30px;
}

.home-btn{
    display: flex;
    /* gap: 30px; */
    justify-content: center;
}

.home-btn-sale{
    background-color: var(--button-color);
    color: #FFF;
    padding: 1.25rem 2rem;
}
.home-btn-discover{

    padding: 20px;
    background: var(--text-color-light);
    color: var(--text-color);
    font-size: 1rem;
    margin: 10px 00;
}

.home-img{
    display: flex;
    justify-items: center;
    justify-content: center;
    /* Mueve lado derecho 
    order: 1;*/
    background-color: var(--first-color);
    transform: translate(0px,-31px);
    max-width: 100%;
    height: fit-content;
}

.home-photo{
    width: 100%;
}

/*  HOME CONTENT END */

/* MENU PRODUCT FILTER */
.font-zise1{
   font-size: var(--font-1)

} 
.font-zise2{
    font-size: var(--font-2)
 } 

 .title-menu{
    color: var(--text-color);
 }

/* MENU PRODUCT FILTER END */

/* VISTA PRODUCTOS */
 /* Contenedor product */
.cont-product {
    display: grid;
    grid-row: auto;
    /* background-color: gray; */
    /* height: 500px; */
}

 /* product menu */
 .cont-product-menu{
   /* display: grid;
    height: 50px;
    gap : 10px; */
    padding: 15px;
    height: fit-content;
    background-color: var(--card-color);
 }
 .cont-product-ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    justify-content: center;
    justify-items: center;
    text-align: center;
 }
 .cont-product-li{
    /* Para Filtrado */
    position: relative;
 }
 /* product menu end */

 /* product grid */

 .product-grid{
    display: grid;
    grid-template-columns: 350px;
    justify-content: center;
    justify-items: center;
    gap: 15px;
    padding: 20px;
 }

 
  /* product grid end */

  /* article */
.article {
    background-color:  var(--container-color);
    border-radius: 10px;
}

.article-img{
  /* width: 180px; */
  max-width: 100%;
  background-color: var(--card-color);
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
  transition: 0.5s;
}
.article-img:hover{
    transform: scale(0.9);
}

.info{
    position: relative;
    padding: 23px 30px;
    background-color: var(--container-color);
    border-radius: 10px 10px;
}
.article-name{
    font-size: 0.8rem;
}

.product-button{
    border-radius: 50%;
   /*  padding: 0.5rem;
    display: inline-flex; */
    font-size: 1.25rem;
    position: absolute;
    right: 1rem;
    top: -1.4rem;
    background-color: var(--body-color);
    color: var(--title-color);
    box-shadow: 0 4px 12px hsl(206deg 4% 4% / 20%);
    border-color: var(--border-color);
    width: 50px;
    height: 50px;
    transition: 0.5s;
}
.product-button:hover{

        background-color: gray;
 
}


.price{
    font-size: 1.6rem;
    display: flex;
    gap: 14px;
    /* justify-content: center; */
}

.stock{
  font-size: 0.9rem;
}

.filter-off{
    display: none;
}

   /* article end */

/* VISTA PRODUCTOS END */

/* FOOTER */
.footer-color{
    background-color: var(--first-color);    
}

.footer{
    padding: 1.5rem;
    text-align: center;

     color: var(--text-color-white);
}

.footer-ul{
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
}
.my-info{
    text-align: center;
    color: white;
    background-color: var(--first-color);
}
.ecommers{
    /* margin: 25px 0 10px 0; */
    padding: 0 0 15px 0;
 }
/* FOOTER end */

/*  RESPONSIVE */ 

@media screen and (min-width: 600px) {
    nav label{
        display: none;
    }

    input#menu-hamburguesa ~ ul{
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: flex-start;
    }

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
     }
    
}
@media  screen and ( min-width: 650px ) {

    .home-content{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-content: space-around;
    gap: 50px;
    }

    .home-img {
       /* display: flex;
        justify-items: center;
        justify-content: center; */
        order: 1;
        /* background-color: var(--first-color);
        transform: translate(0px,-31px);
        max-width: 100%;
        height: fit-content; */
    }
    .cart {
        width: 480px;
    }
    .cart-unit {
        gap: 60px;
    }

    .cont-product-ul {
        grid-template-columns: 1fr 1fr ;
    }
    .title-menu {
        font-size: 1.2rem;
    }

    .pointer{
            cursor: pointer;
    }

    .product-grid{
       /* display: grid; */
        grid-template-columns: 220px 220px ;
       /* justify-content: center;
        justify-items: center; */
        gap: 40px;
        /* padding: 20px; */
     }

     .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
     }

}


@media  screen and ( min-width: 800px ) {

    .home-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    gap: 15px;
    }

    .home-img {
       /* display: flex;
        justify-items: center;
        justify-content: center; */
        order: 1;
        /* background-color: var(--first-color);
        transform: translate(0px,-31px);
        max-width: 100%;
        height: fit-content; */
    }
    .cart {
        width: 450px;
    }
    .cart-unit {
        gap: 40px;
    }

    .cont-product-ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .title-menu {
        font-size: 1.2rem;
    }

    .pointer{
            cursor: pointer;
    }

    .product-grid{
       /* display: grid; */
        grid-template-columns: 220px 220px 220px;
       /* justify-content: center;
        justify-items: center; */
        gap: 40px;
        /* padding: 20px; */
     }

     .footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
     }

}


@media  screen and ( min-width: 900px ) {


    .cont-product-ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
   /* .title-menu {
        font-size: 1.2rem;
    }

    .pointer{
            cursor: pointer;
    } */

    .product-grid{
       /* display: grid; */
        grid-template-columns: 200px 200px 200px 200px;
       /* justify-content: center;
        justify-items: center; */
        gap: 20px;
        /* padding: 20px; */
     }

}

/* For large devices */
@media screen and (min-width: 1024px) {
    .container {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
    }
    .scrollup {
      right: 3rem;
    }
  }
